.media, .bd {overflow:hidden; _overflow:visible; zoom:1;}
.media .img {float:left; margin-right: 15px;}
.media .img img{display:block; margin-bottom: 0;}
.media .imgExt{float:right; margin-left: 10px;}